body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}
p{
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    color: white;
}
.menu-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}
form, #board{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 360px;
    height: 470px;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    font-family: 'Indie Flower', cursive;
    font-size: 48px;   
    width: 360px;
    height: 80px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
}
#player-one-label{
    background-color: #C6A3E3;
    justify-self: flex-start;
    background-image: url('images/cross-black.jpeg');
    background-size: 50px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
#player-two-label{
    background-color: #8EE4EF;
    margin-top: 40px;
    background-image: url('images/circle-black.jpeg');
    background-size: 60px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
/* shake code from chatGPT https://chat.openai.com/share/da70cc45-ac3c-4f67-9254-c775e06dce80 */
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
  
  .shake {
    animation: shake 0.5s linear;
  }
  
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
    text-align: center;
  }
#menu-items{
    display: flex;
    width: 360px;
}
input[type=submit], #leaderboard-button, #play-ai{
    width: 90px;
    padding: 12px 20px;
    margin-top: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
    color: black;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
input[type=submit]:hover{
    transform: scale(1.1);
    background-color: #8EE4AF;
}
#leaderboard-button, #play-ai{
    width: 125px;
    padding: 12px 0;
}
#leaderboard-button:hover{
    transform: scale(1.1);
}
#play-ai{
    margin-left: 0;
}
#play-ai:hover{
    transform: scale(1.1);
}
#board {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 420px;
}
.board-column {
    font-family: 'Indie Flower', cursive;
    font-size: 48px;   
    width: 160px;
    height: 80px;
    background-color: #8EE4AF;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.board-column p{
    width: 160px;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 5px;
}
#play-game{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gameboard{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 360px;
    height: 360px;
}
.square{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #8EE4AF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover{
    background-color: #4E966A;
}
#play-again-choices{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin-bottom: 30px;
}
.play-again{
    margin: 0;
    width: 70px;
    height: 50px;
    text-align: center;
}
.play-again:hover{
    background-color: rgba(255,255,255,0.4);
    border-radius: 15px;
}
#return-button{
    display: none;
    justify-content: center;
    margin: 0;
    width: 160px;
    height: 40px;
    font-size: 21px;
    padding-top: 10px;
    text-align: center;
}
#return-button:hover{
    background-color: rgba(255,255,255,0.4);
    border-radius: 15px;
}

